header.flex-static
  .container.layout
    h1.brand-name.flex
      a(data-ui-sref='home') PhoneLineage
    nav.layout
      ul.layout.flex
        li
          a(data-ui-sref='home') Home
        li
          a(data-ui-sref='about') About
        li
          a(data-ui-sref='userphones') Browse
        li
          a(data-ui-sref='toc') Table of Content
        li
          a(data-ui-sref='signin') Sign In
        li
          a(data-ui-dref='register') Register
